@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,300,0,0');

* {
  font-family: Dosis;
}

body,
html {
  padding: 0;
  margin: 0;
  color: white;
  overflow-x: hidden;
  background: linear-gradient(0deg, rgba(0,0,105,1) 0%, rgba(0,123,179,1) 100%) no-repeat center fixed, rgba(0, 0, 105, 1);
}

header {
  height: 10vh;
  position: sticky;
  top: 0;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  border-bottom: 3px solid white;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99999999;
}