/* ***************************
© 2019-present Samuel Sharp. All rights reserved.
****************************/

@import url('https://fonts.googleapis.com/css2?family=Unbounded&family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,300,0,0');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--text: #C4E9EE;
	--background: #00234D;
	--surface: #16355C;
	--primary: #08CEEB;
	/* --secondary: #12D453; */
	--radius: 6px;
}

* {
	font-family: 'Rubik', sans-serif;
	user-select: none;
}

h1 {
	font-family: 'Unbounded', sans-serif;
}

body,
html {
	color: var(--text);
	overflow-x: hidden;
	background: var(--background);
}

/* Play page */

.playButton {
	cursor: pointer;
	font-size: 4rem;
	color: var(--primary);
	border: 3px solid var(--primary);
	border-radius: 50%;
	box-shadow: 0 0 150px var(--primary);
}

.gameOverview {
	position: fixed;
	bottom: 0;
	left: 20px;
	height: 60vh;
	background: var(--background);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 9999;
	width: 20vw;
	border-top-left-radius: var(--radius);
	border-top-right-radius: var(--radius);
	border: 3px solid var(--primary);
	border-bottom: 0;
	box-shadow: 0 0 20px var(--primary);
	padding: 20px;
}

.gameOverviewContent {
	text-align: center;
}

.rws-header {
	display: none;
}

.rws-container,
.rws-icon {
	border-radius: var(--radius) !important;
	background-color: var(--primary) !important;
}

.rws-container {
	background-color: var(--background) !important;
}

.rws-close {
	background-color: var(--primary) !important;
	color: var(--text) !important;
}

.popup {
	z-index: 9999;
	display: none;
	position: fixed;
	bottom: 20px;
	padding: 10px;
	left: 20px;
	min-width: 35vw;
	transition: all 0.3s ease;
}

.popupIcon {
	font-size: 3rem;
	float: left;
	margin-right: 1vw;
}

.popupTitle {
	font-size: 1.4rem;
}

.carousel.carousel-slider .control-arrow {
	display: none;
}

::-webkit-scrollbar {
	width: 0.5vw;
	height: 8px;
	background-color: var(--background);
}

::-webkit-scrollbar-thumb {
	background: var(--surface);
}

.card:hover {
	transform: scale(1.025);
}

.card:hover .card-logo {
	transform: scale(1.1);
}

.feature {
	transform: scale(0.975);
}

.feature:hover {
	transform: scale(1);
}

.feature:hover .feature-logo {
	transform: scale(1.1);
}