@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Press+Start+2P&display=swap');

* {
  font-family: Dosis;
}

body,
html {
  padding: 0;
  margin: 0;
  color: white;
  background: linear-gradient(0deg, rgba(0,0,105,1) 0%, rgba(0,123,179,1) 100%) no-repeat center fixed, rgba(0, 0, 105, 1);
}

header {
  min-height: 10vh;
  position: sticky;
  top: 0;
  border-bottom: 3px solid #007bb3;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}