/****************************
© 2019-present LeagueXP. All rights reserved.
****************************/

.carousel {
    width: 100%;
}

.gameList {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    text-align: center;
    justify-content: space-evenly;
}

.game {
    border-radius: 50px;
    margin: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover !important;
    cursor: pointer;
    transition: all ease 0.7s;
    height: 300px;
    box-sizing: border-box;
}

.gameotw {
    border-radius: 10px;
    margin: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    cursor: pointer;
    flex: 100%;
    transition: all ease 0.3s;
    height: 300px;
    box-sizing: border-box;
}

.game:hover {
    transform: scale(1.1);
    border-width: 6px !important;
}

.gameotw:hover {
    transform: scale(1.04);
    border-width: 3px !important;
}

.game img {
    transition: all ease 0.5s;
}

.game:hover img {
    transform: scale(1.2);
}