.navLinks {
    padding: 25px;
}

.navLink {
    font-size: 2rem;
    height: 100%;
    padding: 10px;
    text-decoration: none;
    color: white;
    vertical-align: middle;
}

.navTitle {
    font-size: 25pt;
    margin-right: 20px;
    padding: 25px;
}

.navTitleLink {
    text-decoration: none;
    color: white;
}